body {
    --bg: white;
    --textNormal: #1a535c;
    --textTitle: #1a535c;
    --textLink: blue;
    --hr: hsla(0, 0%, 0%, 0.2);
  
    background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #1a535c !important;
    --textNormal: rgba(255, 255, 255, 0.88) !important;
    --textTitle: white !important;
    --textLink: yellow !important;
    --hr: hsla(0, 0%, 100%, 0.2) !important;
  }